This just needs to get added after all the css for main.css
originally I had it all in the js but it was bulky and got too confusing.
it was cleaner just to put it here

#drop-menu {
  display: none;
}

@media screen and (max-width: 840px) {
  body{
    background-color: #2A5472;
    width: 100vw;
    margin-left: 0vw;
  }

  #main-nav {
    display: none;
    flex-direction: column;
  }

  #main-nav ul{
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  #main-nav ul li a {
    margin: 0.75em 0 0.75em 40%;
  }

  header {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  header h1 {
    flex: 1;
  }

  #drop-menu {
    display: flex;
    flex: 0;
  }

  #drop-menu img {
    height: 8vh;
  }
}
