
/* Borui Xie */

:root{
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: large;
}
header a:hover{color: yellow;}
header{
    background-color: salmon;
    color: white;
    height: 250px;
}
header h1,h4{text-align: center;}
body{
    background-color: lightyellow;
}
body p {
    color: brown;
}
h2{
    background-color: darkseagreen;
    padding-bottom: 20px;
    padding-top: 20px;
}
h4{
    font-size: larger;
    color: darkgreen;
}
nav li{
    display: inline-block;
    justify-content: space-between;
    padding-right: 15px;
}
nav{text-align: center;
    padding-top: 50px;
}
nav a {
    text-decoration: none;
    color: rebeccapurple;
    font-weight: bold;
}

#drop-menu {
  display: none;
}

@media screen and (max-width: 840px) {
  body{
    background-color: #2A5472;
    width: 100vw;
    margin-left: 0vw;
  }

  #main-nav {
    display: none;
    flex-direction: column;
  }

  #main-nav ul{
    display: block;
    margin: 0;
    padding: 0;
    text-align: center;
  }

  #main-nav ul li a {
    margin: 0.75em 0 0.75em 40%;
  }

  header {
    display: flex;
    flex-direction: row;
    margin: 0;
  }

  header h1 {
    flex: 1;
  }

  #drop-menu {
    display: flex;
    flex: 0;
  }

  #drop-menu:hover,
  #drop-menu:active {
    cursor: pointer;
  }

  #drop-menu img {
    height: 8vh;
  }
}
